body {
  font-family: Arial, Helvetica, sans-serif;
  color: #113f67;
  background-image: url("images/Background.jpg");
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 40px;
  padding-left: 100px;
}

h1 {
  color: blue;
}
